---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>
    <ImageGrid
      columns={3}
      images={[
        {
          src: "/photos/photo1.webp",
          alt: "Simpson's Gap",
        },
        {
          src: "/photos/photo2.webp",
          alt: "Simon",
        },
        {
          src: "/photos/photo3.png",
          alt: "Abs cinema",
        },
      ]}
    />
  </section>
</Base>
