---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
---

<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src="/profile.png"
        alt="Profile photo"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={160}
        height={160}
      />
    </a>

    <script>
    function me_when() {
      var a = new Date(2003, 7, 9); // your birthdate (July 09, 2003)
      var b = new Date();
      var c = b - a;
      var d = c / (1000 * 60 * 60 * 24 * 365.25);
      document.getElementById('my_age').innerHTML = '' + Math.floor(d) + '.' + (d % 1).toFixed(9).substr(2);
    }

    me_when();
    setInterval(me_when, 1);
    </script>

    <h2 class="mb-8 text-2xl font-medium tracking-tight">
      hey, I'm <i><b>Amrithesh</b></i> Kakkoth
    </h2>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
        I'm a <span id="my_age_container" class="inline-block" style="width: 80px; text-align: right; margin-right: 25px;"><span id="my_age"></span></span> 
         year old boy from Kerala, India.
      </p>
      <p>
        On weekdays, you’ll find me at <a href="https://mec.ac.in">Govt. Model Engineering College</a>. Weekends are usually split between <a href="https://maps.app.goo.gl/EtzLbs5MBFVH5StGA">Kochi</a>, <a href="https://maps.app.goo.gl/DsTQAUSdMrDeCnYk9">Kunnamkulam</a>, or locked into some project.
      </p>
      <p>
        I like building AI agents — especially ones that speak terminal. My recent work includes <i>NetGPT</i>, a project for optimizing network traffic and attack detection. 
        Previously interned at <a href="https://mecha.so">Mecha Systems</a> and <a href="https://kianaai.com">Kiana AI</a>.
      </p>
      <p>
        When I'm not coding, I'm usually grinding Valorant, playing with LLMs, or thinking about how to legally pay the least tax possible 😅.
      </p>
      <p>
        You can find my work on GitHub → <a href="https://github.com/Amrithesh-Kakkoth">quasar1256</a>
      </p>
    </div>
  </section>
</Base>
